.loginDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

    >form {
        >h4 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 0;
        }

        padding: 2rem;
        border-radius: 0.5rem;

        >label {
            display: block;
            font-size: 1.25rem;
            padding: 0.5rem 1rem;

            >input {
                border-radius: 4px;
                border: 2px solid #1f1f1f;
                font-size: 2rem;

            }
        }

        > button{
            font-size: 1.25rem;
            display: block;
            text-align: center;
            border: none;
            background-color: #1f1f1f;
            color: #d3d3d3;
            border-radius: 4px;
            margin-top: 1rem;
            padding: 1rem 2rem;
            margin-left: auto;
            margin-right: auto;
        }
        > button:hover{
            cursor: pointer;
            background-color: #313131;
        }

        
    }
        >p {
            >a {
                text-decoration: none;
                background-color: rgb(161, 234, 163);
                padding: 0.5rem;
                color: #1f1f1f;
                border-radius: 0.25rem;
            }
        }
}