.user-profile {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    >h2 {
        margin-bottom: 0;
    }

    >img {
        width: 10%;
        border-radius: 5%;
    }


    >input[type="file"]::file-selector-button {
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
        border: none;
        background-color: #ebeaea;
    }

    >input[type="file"]::file-selector-button:hover {
        background-color: #c8ecc9;
        cursor: pointer;
    }

    >input[type="submit"] {
        padding: 1rem;
        border-radius: 0.5rem;
        border: none;
        background-color: #ebeaea;
        margin-top: 1rem;
    }

    >input[type="submit"]:hover {
        background-color: #c8ecc9;
        cursor: pointer;
    }



    >p {

        margin-top: 0;
    }

    >button {
        padding: 1rem 2rem;
        background-color: #a1eaa3;
        color: #1f1f1f;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 0.5rem;
    }

    >button:hover {
        cursor: pointer;
        background-color: #c8ecc9;
    }

    >div p {
        display: inline-block;
        margin-right: 1rem;
    }

    >div {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    >div input {
        text-align: center;
        width: 20rem;
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: 2px solid #1f1f1f;
    }

    >div img {
        width: 1.5rem;
    }

    >div img:hover {
        cursor: pointer;
    }
}